<!DOCTYPE html>
<html ng-app="mtnfever">
  <head>
    <% include ../partials/head.ejs %>
  </head>
  <body>

    <% include ../partials/nav.ejs %>




<header>

      <h1>You Have Climbed This Mountain</h1>

      <nav class="navbar navbar-inverse">

        <a href="/" class="btn btn-default" role="button">Home</a>

        <a href="/climbers/new" class="btn btn-default" role="button">Create Profile</a>

        <a href="/climbs/new" class="btn btn-default" role="button">Log New Summit</a>

        <a href="/climbers" class="btn btn-default" role="button">Climbers</a>

        <a href="/climbs" class="btn btn-default" role="button">Summits</a>

        <a href="/sessions/logout" class="btn btn-default" role="button">Logout</a>

</nav>

</header>


    <main>
        <h2>Climber Directory</h2>

          <div>


            <!-- <a class="nav-link" data-toggle="modal" data-target=".bd-about-modal-lg" class="nav-link disabled" href="#about">About</a> -->

            <% for(let i = 0; i < climbers.length; i++) { %>
                <a data-toggle="modal" data-target=".bd-climbers-modal-lg" href="/climbers/<%=climbers[i]._id%>">
                  <h4 class="list-group-item-heading"><%=climbers[i].name%>
                </a>
                <br/>
            <% } %>

          </div>
    </main>




      <% include ../partials/footer.ejs %>
  </body>
</html>
