<!DOCTYPE html>
<html ng-app="mtnfever">
  <head>
          <% include ../partials/head.ejs %>
  </head>
  <body>

        <header>

          <% include ../partials/nav.ejs %>

        </header>


        <br>
        <br>
        <!-- <br>
        <br> -->
<div class="containerIndex">


      <h1>You Have Climbed This Mountain</h1><br>
        <h2>Climber Directory</h2>

          <nav class="navbar justify-content-center">

            <!-- <a href="/" id="indexNav" class="btn btn-primary justify-content-between" role="button">Home</a>
            <br>
            <br> -->

            <a href="/climbers/new" id="indexNav" class="btn btn-primary justify-content-between" role="button">Create Profile</a>

          </nav>
          </div>

</header>


    <main>


        <!-- create a search bar here by climber name -->
        <br>
        <br>

<% for(let i = 0; i < climbers.length; i++) { %>

    <div class="col-sm-3 d-inline-flex">

        <div class="card bg-warning">

                <img class="card-img-top img-fluid"  src="<%=climbers[i].img;%>" alt="Card image cap">
                <br>
                <div class="card-block">
                      <h4 class="card-title"><%=climbers[i].name%></h4>
                      <p class="card-text">About: <%=climbers[i].description;%></p>
                      <a href="/climbers/<%=climbers[i]._id%>" class="btn btn-primary">See Profile</a>
                      <br>
                      <br>
                </div>
        </div>

    </div>


<% } %>


      <% include ../partials/footer.ejs %>
  </body>
</html>
