<!DOCTYPE html>
<html>
  <head>
    <% include ../partials/head.ejs %>
  </head>
  <body>
    <div id="wrap">

<header>
    <h1>Mountain Climbers</h1>

<nav class="navbar navbar-inverse">



      <ul class="list-unstyled">

            <li>
                    <a href="/">Home</a>

            </li>

            <li>
                    <a href="/climbers/new">Create Climber Profile</a>

            </li>

            <li>
                    <a href="/climbs">Summit Index</a>

            </li>

            <li>
                    <a class="logout" href="/sessions/logout">Logout</a>

            </li>

      </ul>
</nav>

</header>


    <main>
          <h2>Climber Directory</h2>

          <ul>
                  <% for(let i = 0; i < climbers.length; i++) { %>

                        <li>

                            <a href="/climbers/<%=climbers[i]._id%>">
                                <%=climbers[i].name%>
                            </a>
                        </li>
                  <% } %>
          </ul>


    </main>


      </div>
      <% include ../partials/footer.ejs %>
  </body>
</html>
