<!DOCTYPE html>
<html ng-app="mtnfever">
  <head>
          <% include ../partials/head.ejs %>
  </head>
  <body>

        <header>

          <% include ../partials/nav.ejs %>

        </header>



        <br>
        <br>
        <br>
        <br>

      <h1>You Have Climbed This Mountain</h1>

<!-- these options need to be embedded w/in the main nav as dropdowns -->
      <nav class="navbar navbar-inverse">

        <a href="/" class="btn btn-default" role="button">Home</a>

        <a href="/climbers/new" class="btn btn-default" role="button">Create Profile</a>

        <a href="/climbs/new" class="btn btn-default" role="button">Log New Summit</a>

        <a href="/climbers" class="btn btn-default" role="button">Climbers</a>

        <a href="/climbs" class="btn btn-default" role="button">Summits</a>

        <a href="/sessions/logout" class="btn btn-default" role="button">Logout</a>

</nav>

</header>


    <main>
        <h2>Climber Directory</h2>

        <!-- create a search bar here by climber name -->
        <br>
        <br>

<% for(let i = 0; i < climbers.length; i++) { %>

    <div class="col-sm-3 d-inline-flex">

        <div class="card bg-warning">

                <img class="card-img-top img-fluid"  src="<%=climbers[i].img;%>" alt="Card image cap">
                <br>
                <div class="card-block">
                      <h4 class="card-title"><%=climbers[i].name%></h4>
                      <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                      <a href="/climbers/<%=climbers[i]._id%>" class="btn btn-primary">See Profile</a>
                      <br>
                      <br>
                </div>
        </div>

    </div>


<% } %>


      <% include ../partials/footer.ejs %>
  </body>
</html>
