<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>

    <h1>Mountain Climbers</h1>

    <nav>

      <ul>

            <li>
                    <a href="/">Home</a>

            </li>

            <li>
                    <a href="/climbers/new">Create Climber Profile</a>

            </li>

      </ul>
    </nav>

    <main>
          <h2>Climber Directory</h2>

          <ul>
                  <% for(let i = 0; i < climbers.length; i++) { %>

                        <li>

                            <a href="/climbers/<%=climbers[i]._id%>">
                                <%=climbers[i].name%>
                            </a>
                        </li>
                  <% } %>
          </ul>


    </main>

  </body>
</html>
