<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>


          <header>
            <h1>Create Climber Profile</h1>

            <nav>


              <ul>


                <li>

                        <a href="/">Home</a>

                </li>


                <li>

                        <a href="/">Home</a>

                </li>


              </ul>

            </nav>

          </header>

          <main>

                    <form action="/climbers" method="POST">

                      <input type="text" name="name" value="climberName">

                    </form>
          </main>

  </body>
</html>
