<!DOCTYPE html>
<html>
  <head>
    <% include ../partials/head.ejs %>
  </head>
  <body>


          <header>
            <h1>Create Climber Profile</h1>


          <nav class="navbar navbar-inverse">

                    <a href="/" class="btn btn-default" role="button">Home</a>

                    <a href="/climbers" class="btn btn-default" role="button">Climber Directory</a>

                    <a href="/climbs/new" class="btn btn-default" role="button">Log a New Summit</a>

                    <a href="/climbs" class="btn btn-default" role="button">14eener Summit Directory</a>


                    <a href="/sessions/logout" class="btn btn-default" role="button">Logout</a>

          </nav>


          <main>

                    <form action="/climbers" method="POST">

                      Name:<input type="text" name="name" /> </br>
                      Image URL: <input type="text" name="img" /> </br>
                      Description: <textarea type="text" name="description"></textarea></br>

                      <input type="submit" name="submit" value="Create Climber"/>

                    </form>
          </main>

  <% include ../partials/footer.ejs %>

  </body>
</html>
