<!DOCTYPE html>
<html>
  <head>
    <% include ../partials/head.ejs %>
  </head>
  <body>


          <header>
            <h1>Create Climber Profile</h1>


          <nav class="navbar navbar-inverse">

                    <a href="/" class="btn btn-default" role="button">Home</a>

                    <a href="/climbers" class="btn btn-default" role="button">Climber Directory</a>

                    <a href="/climbs/new" class="btn btn-default" role="button">Log a New Summit</a>

                    <a href="/climbs" class="btn btn-default" role="button">14eener Summit Directory</a>


                    <a href="/sessions/logout" class="btn btn-default" role="button">Logout</a>

          </nav>


          <main>
            <div class="container">
                  <form action="/climbers" method="POST">
                        <div class="tbody">
                            <div class="table-row-group">
                                <div class="input-group">
                                  <span class="input-group-addon">
                                    <span class="glyphicon glyphicon-user"></span>
                                  </span>
                                  <input type="text" class="form-control" name="name" placeholder="Username" /> </br> </div>

                                <div class="input-group">
                                  <span class="input-group-addon">
                                    <span class="glyphicon glyphicon-picture"></span>
                                  </span>
                                  <input type="url" class="form-control" name="img" placeholder="Photo URL" /> </br> </div>

                                <div class="input-group">
                                  <span class="input-group-addon">
                                    <span class="glyphicon glyphicon-pencil"></span>
                                  </span>
                                  <input type="text" class="form-control" name="description" placeholder="About You" /> </br> </div>

                                <div class="input-group">
                                  <span class="input-group-addon">
                                    <span class="glyphicon glyphicon-circle-arrow-up"></span>
                                  </span>
                                  <input type="submit" class="form-control" name="submit" placeholder="Create Climber" /> </br> </div>

                              </div>
                            </div>







                    </form>
            </div>
          </main>

  <% include ../partials/footer.ejs %>

  </body>
</html>
