<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>


  <body>


    <header>

                  <h1>Profile Page for <%=climber.name%></h1>

                  <nav>
                        <ul>
                                <li>
                                        <a href="/">Home</a>

                                </li>

                                <li>
                                        <a href="/climbers">Climber Directory</a>
                                </li>
                        </ul>
                  </nav>

    </header>

    <main>
              <section>
                      <h2>Climber Profile:</h2>

                      <div class="container">

                                Name: <%=climber.name;%></br>
                                Profile Image: <img src="<%=climber.img;%>"> </br>
                                About this Climber: <%=climber.description;%></br>

                      </div>
              </section>

    </main>

  </body>
</html>
