<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link href="https://fonts.googleapis.com/css?family=Bowlby+One" rel="stylesheet">
    <title>14er Summits</title>
    <link rel="stylesheet" href="/index.css">
  </head>
<body>

    <div class="container">

      <header>

      <div class="jumbotron">

          <h1>You Have Climbed This Mountain</h1>
          <h2>14eener Fever On Display</h2>

      </div>


          <a class="link" href="/sessions/register"
          class="btn btn-primary btn-lg active"
          role="button">Create Account</a>

          <a class="link" href="/mountains/"
          class="btn btn-primary btn-lg active"
          role="button">14eener Summit Posts</a>


          <a class="link" href="/sessions/login"
          class="btn btn-primary btn-lg active"
          role="button">Login</a>

          <a class="link" href=""
          class="btn btn-primary btn-lg active"
          role="button">About</a>

</header>

    </div>


  </body>
</html>
