<!DOCTYPE html>
<html>
  <head>
  <% include ./partials/head.ejs %>
  </head>
<body>

  <div id="wrap">
    <div class="wrapper">
        <div class="message">
          <div class="jumbotron">

            <header>

                  <h1 class="page-header">You Have Climbed This Mountain</h1>
                  <small class="fever">14eener Fever on Display</small><br/>


                        <a class="link" href="/sessions/register"
                        class="btn btn-primary btn-lg active"
                        role="button">Create Account</a>

                        <a class="link" href="/sessions/login"
                        class="btn btn-primary btn-lg active"
                        role="button">Login</a>

                        <a class="link" href=""
                        class="btn btn-primary btn-lg active"
                        role="button">About</a>


            </header>
  </div>
</div>
</div>
</div>
<div class="clearfix"></div>





<div class="clearfix"></div>
<% include ./partials/footer.ejs %>










</body>



</html>
