<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
            <header>
                        <h1>Edit <%=mountain.fourteeners%>'s Info</h1>

                        <nav>
                            <ul>
                                  <li>
                                        <a href="/">Home</a>
                                  </li>

                                  <li>
                                        <a href="/mountains">14eener Index</a>
                                  </li>
                            </ul>
                        </nav>
            </header>

            <main>
                      <form action="/mountains/<%=mountain._id%>?_method=PUT" method="POST">
                        New 14eener Summit (select one):
                        <select name="fourteeners">
                          <option value="Grays Peak">Grays Peak</option>
                          <option value="Torreys Peak">Torreys Peak</option>
                          <option value="Mt. Evans">Mt. Evans</option>
                          <option value="Longs Peak">Longs Peak</option>
                          <option value="Pikes Peak">Pikes Peak</option>
                          <option value="Mt. Bierstadt">Mt. Bierstadt</option>
                          <option value="Quandary Peak">Quandary Peak</option>
                          <option value="Mt. Lincoln">Mt. Lincoln</option>
                          <option value="Mt. Cameron">Mt. Cameron</option>
                          <option value="Mt. Bross">Mt. Bross</option>
                          <option value="Mt. Democrat">Mt. Democrat</option>
                          <option value="Mt. Sherman">Mt. Sherman</option>
                          <option value="Mt. Elbert">Mt. Elbert</option>
                          <option value="Mt. Massive">Mt. Massive</option>
                          <option value="Mt. Harvard">Mt. Harvard</option>
                          <option value="La Plata Peak">La Plata Peak</option>
                          <option value="Mt. Antero">Mt. Antero</option>
                          <option value="Mt. Shavano">Mt. Shavano</option>
                          <option value="Mt. Belford">Mt. Belford</option>
                          <option value="Mt. Princeton">Mt. Princeton</option>
                          <option value="Mt. Yale">Mt. Yale</option>
                          <option value="Tabeguache Peak">Tabeguache Peak</option>
                          <option value="Mt. Oxford">Mt. Oxford</option>
                          <option value="Mt. Columbia">Mt. Columbia</option>
                          <option value="Missouri Mountain">Missouri Mountain</option>
                          <option value="Mt. of the Holy Cross">Mt. of the Holy Cross</option>
                          <option value="Huron Peak">Huron Peak</option>
                          <option value="Castle Peak">Castle Peak</option>
                          <option value="Maroon Peak">Maroon Peak</option>
                          <option value="Capitol Peak">Capitol Peak</option>
                          <option value="Snowmass Mountain">Snowmass Mountain</option>
                          <option value="Conundrum Peak">Conundrum Peak</option>
                          <option value="Pyramid Peak">Pyramid Peak</option>
                          <option value="North Maroon Peak">North Maroon Peak</option>
                          <option value="Uncompahgre Peak">Uncompahgre Peak</option>
                          <option value="Mt. Wilson">Mt. Wilson</option>
                          <option value="El Diente Peak">El Diente Peak</option>
                          <option value="Mt. Sneffels">Mt. Sneffels</option>
                          <option value="Mt. Eolus">Mt. Eolus</option>
                          <option value="Windom Peak">Windom Peak</option>
                          <option value="Sunlight Peak">Sunlight Peak</option>
                          <option value="Handies Peak">Handies Peak</option>
                          <option value="North Eolus">North Eolus</option>
                          <option value="Redcloud Peak">Redcloud Peak</option>
                          <option value="Wilson Peak">Wilson Peak</option>
                          <option value="Wetterhorn Peak">Wetterhorn Peak</option>
                          <option value="San Luis Peak">San Luis Peak</option>
                          <option value="Sunshine Peak">Sunshine Peak</option>
                          <option value="Blanca Peak">Blanca Peak</option>
                          <option value="Crestone Peak">Crestone Peak</option>
                          <option value="Crestone Needle">Crestone Needle</option>
                          <option value="Kit Carson Peak">Kit Carson Peak</option>
                          <option value="Challenger Point">Challenger Point</option>
                          <option value="Humboldt Peak">Humboldt Peak</option>
                          <option value="Culebra Peak">Culebra Peak</option>
                          <option value="Mt. Lindsey">Mt. Lindsey</option>
                          <option value="Ellingwood Point">Ellingwood Point</option>
                          <option value="Little Bear Peak">Little Bear Peak</option>


                        </select> </br>

                        Perks of this Peak Summit:
                        <textarea type="text" name="peakPerks"> </textarea> </br>

                        Summit Date:
                        <input type="text" name="date" /> </br>

                        Summit Photo:
                        <input type="text" name="img" /> </br>


                        <input type="submit" name="submit" value="Update Summit Post"/>



                      </form>

  <body>

  </body>
</html>
