<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>

    <header>

    <h1>CO 14eeners</h1>

    <nav>

            <ul>

                    <li>
                            <a href="/">Home</a>
                    </li>

                    <li>
                            <a href="/mountains/new">Log a New Summit</a>
                    </li>
            </ul>

    </nav>

    </header>


  </body>
</html>
