<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
          <header>
                    <h1>Summit Posts About <%=mountain.title%></h1>

                    <nav>
                          <ul>
                                  <li>
                                          <a href="/">Home</a>

                                  </li>

                                  <li>
                                          <a href="/climbers">Climber Directory</a>
                                          <a href="/mountains">14eener Summit Directory</a>
                                  </li>
                          </ul>
                    </nav>
          </header>
          <section>
                    <ul>

                    </ul>

          </section>

          <section>
                    <a href="/mountains/<%=mountain._id%>/edit">Edit</a>
          </section>

          <section>
                <form action="/mountains/<%=mountain._id%>?_method=DELETE" method="POST">
                    <input type="submit" value="Delete Summit Post"/>
                </form>
        </section>

  </body>
</html>
