<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
          <header>
                    <h1>Summit Posts About <%=mountain.title%></h1>

                    <nav>
                          <ul>
                                  <li>
                                          <a href="/">Home</a>

                                  </li>

                                  <li>
                                          <a href="/climbers">Climber Directory</a>
                                          <a href="/mountains">14eener Summit Directory</a>
                                  </li>
                          </ul>
                    </nav>
          </header>
          <section>
                    <ul>
                      
                    </ul>

          </section>



  </body>
</html>
