* {
  font-family: 'Bowlby One', cursive;
}

html, body{
  height: 100%;
}
body {
			background-image: url("https://static.pexels.com/photos/253892/pexels-photo-253892.jpeg");
			background-position: center center;
			background-repeat:  no-repeat;
			background-attachment: fixed;
			background-size:  cover;
			background-color: #999;
      position: relative;
      text-align: center;
      justify-content: center;

}

div, body{
  margin: 0;
  padding: 0;
  font-family: exo, sans-serif;

}
.wrapper {
  height: 100%;
  width: 100%;
}

.message {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  height:45%;
  bottom: 0;
  display: block;
  position: absolute;
  padding: 0.5em;
}

.text-uppercase {
  border-radius: 3px;
  background-color: none;
  color: white;
  padding: .5em;

}

.row {
  justify-content: center;
  text-align: center;
  margin: 0 auto;
  height: 50%;
  width: auto;

}

h1, h2 {
  text-align: center;
}

.jumbotron {
  background-color: #151052;
  opacity: .80;
  color: #EFC74E;
  height: auto;
}

.input-group {
  height: 2em;
  width: 60%;
  justify-content: center;
  text-align: center;
  margin: 0 auto;
}

.container {
  width: auto;
  max-width: 680px;
  padding: 0 10px;
}

/*.img-responsive {
  background-size: cover;
  max-width: 100%;
  height: 100%;
  display: block;
  padding-top: 0;
  margin-top: 0;
}*/

.navbar-inverse  {
    width: auto;
    /*max-width: 680px;*/
    background-color: none;
    border-style: none;
    text-decoration: none;
    list-style: none;
    text-align: center;
    justify-content: space-between;
    padding: 1em;
  }

.enter {
    color: #EFC74E;
    font-size: 20px;
}

.list-group {
  /*opacity: .65;*/
  padding-bottom: 1.5px;
  border-bottom: 1.5px;
  margin-bottom: 1.5px;
  /*color: black;*/
}

.fever {
  color: #EFC74E;
}

/* Wrapper for page content to push down footer */
#wrap {
  min-height: 100%;
  height: auto;
  /* Negative indent footer by its height */
  margin: 0 auto -40px;
  /* Pad bottom by footer height */
  padding: 0 0 40px;
}

/* Set the fixed height of the footer here */
#footer {
  height: 40px;
  opacity: .5;
  text-align: center;
  bottom: 0;
  right: 0;
  left: 0;
  color: black;
  margin: 0 auto;
  position: fixed;
}

li {
  list-style: none;
}
