* {
  font-family: 'Bowlby One', cursive;
}

.navbar-brand {
  padding: 1em;
  margin-right: 1em;
}

.navbar-nav {
  color: rgb(0, 51, 153);
}

#footer {
  text-align: center;
  margin: 0 auto;
  justify-content: center;
  position: sticky;
}


li {
  list-style: none;
}
