* {
  font-family: 'Bowlby One', cursive;
}

.navbar-brand {
  padding: 1em;
  margin-right: 1em;
}

.navbar-nav {
  color: rgb(0, 51, 153);
}

#footer {
  text-align: center;
  margin: 0 auto;
  justify-content: center;
  position: sticky;
}


li {
  list-style: none;
}







/* site fonts for reference:

font-family: 'Asul', sans-serif;
font-family: 'Harmattan', sans-serif;
font-family: 'Mandali', sans-serif;
font-family: 'Port Lligat Slab', serif; */
