* {
  font-family: 'Bowlby One', cursive;
}

.login, .register, .general {
  margin: 0 auto;
  text-align: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
}

#indexNav {
  margin: 1em;
  padding: 1em;
}

.nav-link {
  color: rgb(27, 27, 125);
}

.col-sm-3 {
/* border: 1px solid hotpink; */
margin-left: 6%;
margin-bottom: 3%;
}

.card {
 text-align: center;
}

.cardClimberShow {
  text-align: center;
  margin: 0 auto;
  justify-content: center;
  border: 1px solid darkgray;
}

h1, h2 {
  text-align: center;
  margin: 0 auto;
  font-family: 'Bowlby One', cursive;
}

.card-body {
  background-color: white;
}

.card-title {
  /* font-family: 'Bowlby One', cursive; */
}

.card-text, .list-group-item {
  font-family: 'Mandali', sans-serif;
  font-size: 1.5em;
}

#indexWallpaper {
  background-repeat: repeat-y;
}

/* body { */
			/* background-image: url("https://static.pexels.com/photos/326235/pexels-photo-326235.jpeg") ; */
			/* background-position: center center;
			background-repeat:  no-repeat;
			background-attachment: fixed;
			background-size:  cover;
			/* background-color: #999; */
      /* position: relative;
      text-align: center;
      justify-content: center; */

/* }

/* .message {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  height:45%;
  bottom: 0;
  display: block;
  position: absolute;
  background-color: rgba(0,0,0,0.6);
  color: #fff;
  padding: 0.5em;

} */

.containerIndex {
    /*max-width: 680px;*/
    margin: 0 auto;
    width: 80%;
    color: black;
    text-decoration: none;
    justify-content: center;
    /* border: 1px solid black; */
    border-radius: 15px;
    padding: 3%;
    text-align: center;
    align-content: center;
    background-color: rgba(242, 242, 242, 0.5);
    0, 128, 0
}

.container {
    /*max-width: 680px;*/
    margin: 0 auto;
    color: white;
    text-decoration: none;
    justify-content: center;
    /* border: 1px solid black; */
    border-radius: 15px;
    padding: 2%;
    text-align: center;
    align-content: center;
    background-color: rgba(242, 242, 242, 0.4);
}

.containerHome {
  width: 45%;
  color: white;
  text-decoration: none;
  border-radius: 15px;
  padding: 2%;
  text-align: center;
  align-content: center;
  background-color: rgba(242, 242, 242, 0.4);
  margin-left: 3%;
}

#createClimberButton, #createSummitPostButton {
    color: white;
    font-size: 1.75em;
    padding: .5em;
    width: 7.5em;
    margin: 0 auto;
}

.form-control {
    height: 4em;
}

.main-img  {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: -5;
  top: 0px;
  left: 0px;
  background-position: center center fixed no-repeat;
  background-size: cover;
}

.updateClimber {
  padding: 1em;
  margin: 0 auto;
}


/* .link, visited, hover {
    text-decoration: none;
    color: white;
    font-size: 20px;
    display: inline-block;
} */

/* li {
    list-style-type: none;
    text-decoration: none;
    font-size: 20px;
    display: inline-block;
} */

/* .register, .profile {
  padding-top: 70px;
} */

.modal-body {
  width: 90%;
  margin: auto;
  padding: 1em;
}

.modal-header {
  text-align: center;
  padding: 1em;
}

#footer {
  text-align: center;
  margin: 0 auto;
  justify-content: center;

  /* position: sticky; */
}
