<!DOCTYPE html>
<html ng-app="mtnfever">
  <head>
    <% include ../partials/head.ejs %>
  </head>
  <body>

    <header>

      <% include ../partials/nav.ejs %>

    </header>

<br><br>
  <div class="containerIndex">
    <!-- maybe change wording? -->
    <h1>14eener Summit Posts</h1><br>
    <h2>Did You Reach It To The Peak??</h2>

          <nav class="navbar justify-content-center">

            <a href="/climbs/new" id="indexNav" class="btn btn-primary justify-content-between" role="button">Add Summit Post</a>
            <!-- create a search bar here for 14eeners-->
          </nav>
  </div>

  <style>
  body {
      background-image: url("../images/background-2855345_1920.jpg");
      background-repeat: repeat-y;
  }
  </style>

    <main>
      <br>
      <br>

      <% for(let i = 0; i < climbs.length; i++) { %>

        <div class="col-sm-3 d-inline-flex">

          <div class="card">

                <img class="card-img-top img-fluid"  src="<%=climbs[i].img;%>" alt="Card image cap">
                <br>
                <div class="card-block">
                      <h4 class="card-title"><%=climbs[i].fourteeners%></h4>

                      <a href="/climbs/<%=climbs[i]._id%>" class="btn btn-primary">See Post</a>
                      <br>
                      <br>
                </div>
            </div>

        </div>

<%}%>



    </main>

    <br>
    <br>
    <br>



    <% include ../partials/footer.ejs %>
    </body>
</html>
