<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>

    <header>

    <h1>CO 14eeners</h1>

    <nav>

            <ul>

                    <li>
                            <a href="/">Home</a>
                    </li>

                    <li>
                            <a href="/climbs/new">Log a New Summit</a>
                    </li>

                    <li>
                            <a href="/sessions/logout">Logout</a>
                    </li>
            </ul>

    </nav>

    </header>

    <main>
                <h2>14eener Summit Posts:</h2>

                <ul>
                        <% for(let i = 0; i < climbs.length; i++) { %>
                        <li>
                              <a href="/climbs/<%=climbs[i]._id%>">
                              <%=climbs[i].fourteeners%></a>
                        </li>
                  <%  }  %>
                </ul>
    </main>


  </body>
</html>
