<!DOCTYPE html>
<html>
  <head>
    <% include ../partials/head.ejs %>
  </head>
  <body>

    <header>

    <h1>CO 14eeners</h1>

    <nav class="navbar navbar-inverse">

              <a href="/" class="btn btn-default" role="button">Home</a>

              <a href="/climbers/new" class="btn btn-default" role="button">Create Profile</a>

              <a href="/climbs/new" class="btn btn-default" role="button">Log New Summit</a>

              <a href="/climbers" class="btn btn-default" role="button">Climbers</a>

              <a href="/climbs" class="btn btn-default" role="button">Summits</a>


              <a href="/sessions/logout" class="btn btn-default" role="button">Logout</a>

    </nav>

    </header>

    <main>
                <h2>14eener Summit Posts:</h2>

                <ul>
                        <% for(let i = 0; i < climbs.length; i++) { %>
                        <li>
                              <a href="/climbs/<%=climbs[i]._id%>">
                              <%=climbs[i].fourteeners%></a>
                        </li>
                  <%  }  %>
                </ul>
    </main>

    <% include ../partials/footer.ejs %>
    </body>
</html>
