<!DOCTYPE html>
<html ng-app="mtnfever">
  <head>
    <% include ../partials/head.ejs %>
  </head>
  <body>

    <header>

      <% include ../partials/nav.ejs %>

    </header>



    <h1>CO 14eeners</h1>

    

    <main>
                <h2>14eener Summit Posts:</h2>

                <ul>
                        <% for(let i = 0; i < climbs.length; i++) { %>
                        <li>
                              <a href="/climbs/<%=climbs[i]._id%>">
                              <%=climbs[i].fourteeners%></a>
                        </li>
                  <%  }  %>
                </ul>
    </main>





    <% include ../partials/footer.ejs %>
    </body>
</html>
