<!DOCTYPE html>
<html>
  <head>
    <% include ../partials/head.ejs %>
  </head>
  <body>

      <header>
            <h1>Record a New Summit</h1>


            <nav class="navbar navbar-inverse">

                      <a href="/" class="btn btn-default" role="button">Home</a>

                      <a href="/climbers/new" class="btn btn-default" role="button">Create Climber Profile</a>

                      <a href="/climbers" class="btn btn-default" role="button">Climber Directory</a>

                      <a href="/climbs" class="btn btn-default" role="button">14eener Summit Directory</a>


                      <a href="/sessions/logout" class="btn btn-default" role="button">Logout</a>

            </nav>
      </header>

      <main>
              <form action="/climbs" method="POST">
                  <hr>
                  <p class="text-uppercase">Select Climber</p>

                  <select name="climberId">
                      <% for(let i = 0; i <climbers.length; i++) { %>
                      <option value="<%=climbers[i]._id%>">
                      <%=climbers[i].name%></option>
                      <% } %>
                  </select><br/>
                  <hr>

                  <p class="text-uppercase">New 14eener Summit (select one)</p>


                  <select name="fourteeners">
                    <option value="Grays Peak">Grays Peak</option>
                    <option value="Torreys Peak">Torreys Peak</option>
                    <option value="Mt. Evans">Mt. Evans</option>
                    <option value="Longs Peak">Longs Peak</option>

                    <option value="Pikes Peak">Pikes Peak</option>
                    <option value="Mt. Bierstadt">Mt. Bierstadt</option>
                    <option value="Quandary Peak">Quandary Peak</option>
                    <option value="Mt. Lincoln">Mt. Lincoln</option>
                    <option value="Mt. Cameron">Mt. Cameron</option>
                    <option value="Mt. Bross">Mt. Bross</option>
                    <option value="Mt. Democrat">Mt. Democrat</option>
                    <option value="Mt. Sherman">Mt. Sherman</option>
                    <option value="Mt. Elbert">Mt. Elbert</option>
                    <option value="Mt. Massive">Mt. Massive</option>
                    <option value="Mt. Harvard">Mt. Harvard</option>
                    <option value="La Plata Peak">La Plata Peak</option>
                    <option value="Mt. Antero">Mt. Antero</option>
                    <option value="Mt. Shavano">Mt. Shavano</option>
                    <option value="Mt. Belford">Mt. Belford</option>
                    <option value="Mt. Princeton">Mt. Princeton</option>
                    <option value="Mt. Yale">Mt. Yale</option>
                    <option value="Tabeguache Peak">Tabeguache Peak</option>
                    <option value="Mt. Oxford">Mt. Oxford</option>
                    <option value="Mt. Columbia">Mt. Columbia</option>
                    <option value="Missouri Mountain">Missouri Mountain</option>
                    <option value="Mt. of the Holy Cross">Mt. of the Holy Cross</option>
                    <option value="Huron Peak">Huron Peak</option>
                    <option value="Castle Peak">Castle Peak</option>
                    <option value="Maroon Peak">Maroon Peak</option>
                    <option value="Capitol Peak">Capitol Peak</option>
                    <option value="Snowmass Mountain">Snowmass Mountain</option>
                    <option value="Conundrum Peak">Conundrum Peak</option>
                    <option value="Pyramid Peak">Pyramid Peak</option>
                    <option value="North Maroon Peak">North Maroon Peak</option>
                    <option value="Uncompahgre Peak">Uncompahgre Peak</option>
                    <option value="Mt. Wilson">Mt. Wilson</option>
                    <option value="El Diente Peak">El Diente Peak</option>
                    <option value="Mt. Sneffels">Mt. Sneffels</option>
                    <option value="Mt. Eolus">Mt. Eolus</option>
                    <option value="Windom Peak">Windom Peak</option>
                    <option value="Sunlight Peak">Sunlight Peak</option>
                    <option value="Handies Peak">Handies Peak</option>
                    <option value="North Eolus">North Eolus</option>
                    <option value="Redcloud Peak">Redcloud Peak</option>
                    <option value="Wilson Peak">Wilson Peak</option>
                    <option value="Wetterhorn Peak">Wetterhorn Peak</option>
                    <option value="San Luis Peak">San Luis Peak</option>
                    <option value="Sunshine Peak">Sunshine Peak</option>
                    <option value="Blanca Peak">Blanca Peak</option>
                    <option value="Crestone Peak">Crestone Peak</option>
                    <option value="Crestone Needle">Crestone Needle</option>
                    <option value="Kit Carson Peak">Kit Carson Peak</option>
                    <option value="Challenger Point">Challenger Point</option>
                    <option value="Humboldt Peak">Humboldt Peak</option>
                    <option value="Culebra Peak">Culebra Peak</option>
                    <option value="Mt. Lindsey">Mt. Lindsey</option>
                    <option value="Ellingwood Point">Ellingwood Point</option>
                    <option value="Little Bear Peak">Little Bear Peak</option>


                  </select> </br>
                  <hr>

                <p class="text-uppercase">About this Climb</p>

                  <div class="input-group">
                    <span class="input-group-addon">
                      <span class="glyphicon glyphicon-pencil"></span>
                    </span>
                    <input type="text" class="form-control" name="about" placeholder="About This Summit" /> </br> </div>

                  <hr>

                  <p class="text-uppercase">Summit Date</p>

                    <div class="input-group">
                      <span class="input-group-addon">
                        <span class="glyphicon glyphicon-hourglass"></span>
                      </span>
                      <input type="text" class="form-control" name="date" placeholder="Summit Date" /> </br> </div>

                    <hr>

                  <p class="text-uppercase">Summit Photo</p>

                  <div class="input-group">
                    <span class="input-group-addon">
                      <span class="glyphicon glyphicon-picture"></span>
                    </span>
                    <input type="url" class="form-control" name="img" placeholder="Photo URL"/> </br> </div>

                    <hr>


                <div class="input-group">
                  <span class="input-group-addon">
                    <span class="glyphicon glyphicon-circle-arrow-up"></span>
                  </span>
                  <input type="submit" class="form-control" name="submit" value="Post Summit" placeholder="Post Summit" /> </br> </div>

                  <hr>
                  </br>

                  <hr>
                  </br>

                  <hr>
                  </br>

            </div>
          </div>



                </form>


      </main>
      <% include ../partials/footer.ejs %>

  </body>
</html>
