<!DOCTYPE html>
<html>
  <head>
    <% include ../partials/head.ejs %>

  </head>
  <body>
    <% include ../partials/visitor-nav.ejs %>




<br>
<br>
<br>


<div class="login">
  <div class="list-group-item">

    <h1 class="reg">Login, If you have 14eener Fever.. <br><br> <small>Don't have an account yet? <a class="link" href="/sessions/register">Register!</a>
    </small></h1>
  <form  action="/sessions/login" method="POST">
    <p>Username: <input type="text" name="username" value=""> <br>
    </p>
    <p>Password: <input type="password" name="password" value=""><br>
    </p>
    <button class="btn btn-default" role="button">Login</button>
  </form>
</div>

<% if (message) { %>
  <%= message %>
  <% } %>

</div>
  <div class="clearfix"></div>
  <% include ../partials/footer.ejs %>
  </body>
  </html>
