<!DOCTYPE html>
<html ng-app="mtnfever">
  <head>
    <% include ../partials/head.ejs %>

  </head>
  <body>


<br>
<br>
<br>


<header>

  <div class="container">


  <h1>Login</h1>


    <nav>

          <ul class="list-inline">


                <li>
                        <a href="/">Home</a>
                </li>

                <li>
                <a class="link" href="/sessions/register"
                class="btn btn-primary btn-lg active"
                role="button">Create Account</a>
                </li>

                <li>
                        <a class="logout" href="/sessions/logout">Logout</a>

                </li>
          </ul>

    </nav>

</header>
<form  action="/sessions/login" method="POST">
    <p class="enter">Username:
   <input type="text" name="username" value=""> <br/>
   </p>

   <p class="enter">Password:
   <input type="password" name="password" value=""> <br/>
   </p>
   <button>Login</button>
</form>


<% if (message) { %>
  <%= message %>
<% } %>
  </div>
<% include ../partials/footer.ejs %>
</body>
