<!DOCTYPE html>
<html>
  <head>
    <% include ../partials/head.ejs %>
  </head>
  <body>

    <header>

      <div class="container">


      <h1>Create Account</h1>

<br>
<br>
<br>
<form action="/sessions/register" method="POST">

  <p class="enter">Username:
   <input type="text" name="username" value=""> <br/>
  </p>

  <p class="enter">Password:
   <input type="password" name="password" value=""> <br/>
  </p>

   <button>Register</button>
</form>


</body>
