<!DOCTYPE html>
<html ng-app="mtnfever">
  <head>
    <% include ../partials/head.ejs %>
  </head>
  <body>
    <% include ../partials/visitor-nav.ejs %>


    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
      <div class="register">


      <h1>Create Account</h1>


<form action="/sessions/register" method="POST">

  <p class="enter">Username:
   <input type="text" name="username" value=""> <br/>
  </p>

  <p class="enter">Password:
   <input type="password" name="password" value=""> <br/>
  </p>

   <button>Register</button>
</form>
</div>
<% include ../partials/footer.ejs %>
</body>
